* {
	margin: 0;
}

body {
	font-family: 'Poppins';
	font-size: 20px;

}

.hero-container {
	display: flex;
	margin: 10% 0 5% 10%;
}

.half-width {
	width: 50%;
}

.intro-txt {
	font-family: 'Yeseva One', cursive;
	font-size: 70px;
	font-weight: 400;

	line-height: 100px;

	margin-bottom: 20px;
	padding-top: 0;
	padding-left: 3%;
	border-left: 5px solid rgb(52, 139, 253);
}

.intro-txt span {
	color:rgb(42, 114, 182);
}


.half-width img {
 	width: 70%;
	padding-left: 70px;
}

.link-btn {
	margin: 20px 0 10px 0;
	padding: 15px 40px;
	border: none;
	border-radius: 6px;
	color:white;
	background-color: rgb(35, 137, 255);
	font-size: 18px;
	cursor: pointer;
}

.half-width h4 {
	font-size: 16px;
	color:rgb(49, 49, 49);
	font-weight: normal;
	margin-top: 20px;
}


.my-goals h1 {
	text-align: center;
	font-size:60px;
	margin-bottom: 80px;
}

.my-goals span {
	color:rgb(42, 114, 182);
}

.goal-container {
	display: flex;
	margin-left: 8%;
	margin-right: 8%;
}

.goal-width {
	width: 50%;
	padding-left: 3%;
	padding-right: 3% ;
	background-color: blueviolet;
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 30px;
}

.goal-width img {
	width: 50%;
}

.goal-width h2{
	margin: 20px 0;
}

.my-goals p {
	margin-bottom: 40px;
}
.mission {
	background-color: rgb(234, 240, 252);
}

.vision {
	background-color: rgb(255, 235, 235);

}
.goal {
	background-color: rgb(255, 247, 225);

}

.dev-content, .community-content {
	display: flex;
	margin: 5% 10%
}

.dev-width {
	width:40%;
}

.dev-content img{
	width: 70%;
} 

.community-content img {
	width: 60%;
	padding-left: 40%;
}

.title {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 20px;
}

.dev-txt, .comm-txt {
	margin-top: 50px
}

.learn-code h1 {
	text-align: center;
	font-size:60px;
	margin-bottom: 80px;
}

.learn-code h1 span {
	color: rgb(42, 114, 182);
}

.learn-container {
	display: flex;
	margin: 0 10%;
}

.learn-width {
	width: 50%;
}

.learn-width img {
	width: 80%;
}

.learn-container h2 span{
	color: rgb(42, 114, 182);
}

.learn-txt {
	margin-top: 50px;
}
footer {
	background-color: rgb(38, 37, 41);
	color: white;
	padding: 50px;
	text-align: center;
}
footer h1 {
	font-family:'Lobster', cursive;
	font-size: 40px;
	font-weight: 400;
	line-height: 60px;
}

footer h1 span {
	color:rgb(71, 129, 206)
}

footer p {
	font-size:15px
}